  u'gui': {{syncthing_config.gui}},
  u'version': {{syncthing_config.version}},
  u'ignoredDevices': {{syncthing_config.ignoredDevices}},
  u'ignoredFolders': {{syncthing_config.ignoredFolders}},
  u'options': {{syncthing_config.options}},
  u'folders': {{syncthing_config.folders}},
  u'devices': {{syncthing_config.devices}} +
{%  set not_deviceID  = [] %}
{%  for i in syncthing_config_old.devices %}
{%    if i.deviceID == item %}
{%      set _ = not_deviceID.append(1) %}
[{{i}}] +
{%    endif %}
{%  endfor %}
{%  if not not_deviceID %}
[{
    u'compression': u'always',
    u'certName': u'',
    u'introducer': False,
    u'skipIntroductionRemovals': False,
    u'introducedBy': u'',
    u'paused': False,
    u'autoAcceptFolders': False,
    u'maxSendKbps': 0,
    u'maxRecvKbps': 0,
    u'addresses': [
      u'dynamic'
    ],
    u'deviceID': u'{{item}}',
{%    set name_item = [] %}
{%    for z in role_syncthing_data.folders %}
{%      for v in z.inventory_hosts %}
{%        if hostvars[v].syncthing_myID is defined %}
{%          if hostvars[v].syncthing_myID == item %}
{%            set _ = name_item.append(v) %}
{%          endif %}
{%        endif %}
{%      endfor %}
{%      if z.devices_add is defined %}
{%        for y in z.devices_add %}
{%          for x in y %}
{%            if x.id == item %}
{%              set _ = name_item.append(x.name) %}
{%            endif %}
{%          endfor %}
{%        endfor %}
{%      endif %}
{%    endfor %}
    u'name': u'{{name_item.0}}'
}] +
{%  endif %}
[]
